@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');

@font-face {
    font-family: ProcrastinatingPixie;
    src: url(../font/ProcrastinatingPixie.ttf);
}

:root {

    --bs-custom-primary: #87B153;
    --bs-custom-primary-hover: #a4d666;

    --bs-bg-dark-green: #2E302B;
    --bs-bg-light-green: #3A3D34;

    --bs-light-body-color: #F2EACB;

    --bs-primary: var(--bs-custom-primary);
    --bs-body-bg: var(--bs-bg-dark-green);
    --bs-body-color: var(--bs-light-body-color);
    --bs-border-radius: 5px;
    --bs-body-font-family: 'Poppins';
    --bs-link-color: var(--bs-light-body-color);
    --bs-link-hover-color: #fff;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-custom-primary);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: var(--bs-custom-primary-hover);
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49,132,253;
}















.body{height: 100%; margin: 0; padding: 0; font-size: 1rem; }



/****** MENU *****/
.navbar {
    --bs-navbar-color: var(--bs-light-body-color);
    --bs-navbar-brand-hover-color: #fff;
    background-color: #252524;
    font-family: 'Inconsolata', monospace;

}

.navbar-brand{
    color: var(--bs-light-body-color);
    font-family: 'ProcrastinatingPixie';
}

.navbar-collapse {justify-content: right;}
.navbar-nav {
    --bs-nav-link-hover-color: var(--bs-btn-color);
}










/****** Intro DESKTOP *****/
.intro-cover {
    width: 100%;height:80%;
    background-image:
            url("../img/diconodinoi_intro.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-size: cover;
    background-position: center}
.intro-diconodinoi {filter: none;
    padding: 20% 30% 20% 30%}








/****** Recensioni Carosello VECCHIO *****/
/******.wrap-article{
    height: 573px;
}
.cards_content {display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%; margin-top:5%}
.cards-wrapper {display: flex;
    justify-content: center}

.card {
    border-radius:10px;
    background-color:#F2EACB;
    margin:0 1.6%;
    width:328px; height: 534px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);}
.card img {
    max-width: 100%;
    max-height: 100%;
}
.card_images{margin-top: 12%;
    display:flex;
    flex-direction: column;
    justify-content: center; justify-items: center; align-content: center; align-items: center}

.carousel-inner {padding: 1em}
.carousel-control-prev,
.carousel-control-next {
    width: 5vh;
    height: 5vh;
    top: 50%;
    transform: translateY(-50%);
}
.avatar {width: 164px;height: 164px}
.title_card{text-align: center; color: #2E302B;margin: 5% 0 0 0;}
.text_card{text-align: left;
    margin: 5% 8%; color: #2E302B;} *****/



/****** Recensioni Carosello NUOVO  *****/

.card {
    border-radius:10px;
    background-color:#F2EACB;
    margin:0 1.6%;
    width:328px; height: 534px;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);}
.card img {
    max-width: 100%;
    max-height: 100%;
}
.card_images{margin-top: 12%;
    display:flex;
    flex-direction: column;
    justify-content: center; justify-items: center; align-content: center; align-items: center}

.avatar {width: 164px;height: 164px}
.title_card{text-align: center; color: #2E302B;margin: 5% 0 0 0;}
.text_card{text-align: left;
    margin: 5% 8%; color: #2E302B;}



.card-carousel {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #F2EACB;
    padding: 20px;
    margin: 1rem;
}

.card-title {
    text-align: center;
}

.card-text {
    height: 155px;
}

.cta-card {
    text-align: center;
}


@media screen and (max-width: 767px) {
    .wrap-article {
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .article-order {
        display: flex;
    }

    .title-article1{
        order:1;
    }

    .img-article1{
        order:2;
    }

    .text-article {
        order:3;
    }

    .card {
        margin-left:0;
        margin-right:0;
    }

    .card-text {
        height: 110px;
    }

    .card-carousel {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}





/****** ARTICOLI *****/
.section_content{width: 100%; height: auto;}
.img_section{width: 100%;height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;}

















