.hero-home {
    background-image: url("/img/landing-home.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
}

.hero-text {
    font-size: 1.87rem;
    width: 60%;
}

