@charset "UTF-8";

.container-fluid {
    padding: 0;
}

.header-prodotti {
    display: flex;
    flex-direction: column;
}

.blockquote-footer {
    color: #f2eacba5;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}

.margin-25 {
    margin-bottom: 25px;
}

.contattaci {
    background-color: var(--bs-light-body-color);
}

.header-rfn {
    position: relative;
}



@media screen and (max-width:992px) {
    
    .header-rfn {
        display: flex;
        flex-direction: column;
    }

    .title-rfn01, .title-rfn02 {
        order:1;
    }

    .title-rfn02 {
        text-align: right;
    }

    .img-rfn {
        order: 2;
    }

    .rfn02-align {
        left: 0;
    }

    .drone-sm-png {
        position: absolute;
        width: 40vw;
        right: 0;
        top: 7rem;
    }

    .rfn01-specifiche {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .icon-contattaci {
        width: 8em;
    }

    .dark-text {
        text-align: center;
    }
}

@media screen and (min-width:993px) {

    .d-lg-none {
        display: none;
    }

    .justify-content-end {
    display: flex;
    justify-content: end;
    }

    .img-background1 {
        background-image: url("../img/img-bg-rfn01.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .img-background2 {
        background-image: url("../img/img-bg-rfn02.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .drone-lg-png {
        position: absolute;
        width: 50vw;
        max-width: 1043px;
    }

    .rfn02-align {
        right: 0;
    }

    .rfn01-intro, .rfn02-intro {
        height: 46em;
        display: flex;
    }

    .rfn01-specifiche {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .wrap-contattaci {
        height: 733px;
        display: flex;
        justify-content: space-around;
    }
}