@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inconsolata:wght@400;600;700&family=Poppins:ital,wght@0,400;0,600;0,700;1,400&display=swap');
@import url('about.css');
@import url('blog.css');
@import url('dicono.css');
@import url('mission.css');
@import url('articoli.css');

@font-face {
    font-family: ProcrastinatingPixie;
    src: url(../font/ProcrastinatingPixie.ttf);
}

:root {

    --bs-custom-primary: #87B153;
    --bs-custom-primary-hover: #a4d666;
    --bs-secondary-custom-color: #F59927;

    --bs-bg-dark-green: #2E302B;
    --bs-bg-light-green: #3A3D34;

    --bs-light-body-color: #F2EACB;

    --bs-primary: var(--bs-custom-primary);
    --bs-body-bg: var(--bs-bg-dark-green);
    --bs-body-color: var(--bs-light-body-color);
    --bs-border-radius: 5px;
    --bs-body-font-family: 'Poppins';
    --bs-link-color: var(--bs-light-body-color);
    --bs-link-hover-color: #fff;
    --bs-secondary-rgb: var(--bs-secondary-custom-color);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: 'Audiowide';
    font-size: 3.65rem;
    text-transform: uppercase;
}

h2 {
    font-family: 'Audiowide';
    font-size: 2.5rem;
    text-transform: uppercase;
}

h3 {
    font-family: 'Audiowide';
    font-size: 2rem;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    color: var(--bs-custom-primary);
}

.pretitle {
    font-family: 'Inconsolata';
    font-size: 1.5rem;
    color: var(--bs-custom-primary)
}

.secondary-color {
    color: var(--bs-secondary-rgb);
}

.dark-text {
    color: var(--bs-bg-dark-green)
}


@media (max-width: 767px){

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.5rem;
    }
    
    h3 {
        font-size: 1.25rem;
    }
    
    .pretitle, .subtitle {
        font-size: 1.25rem;
    }
}

section {
    padding: 4em 0em;
}

.section-lg-bg {
    padding: 0em;
}

.btn {
    text-transform: uppercase;
    font-weight: 600;
}

.btn-primary {
    --bs-btn-color: var(--bs-bg-dark-green);
    --bs-btn-bg: var(--bs-custom-primary);
    --bs-btn-border-color: none;
    --bs-btn-hover-color: var(--bs-bg-dark-green);
    --bs-btn-hover-bg: var(--bs-custom-primary-hover);
    --bs-btn-hover-border-color: none;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-bg: var(--bs-custom-primary-hover);
}

.navbar {
    --bs-navbar-color: var(--bs-light-body-color);
    --bs-navbar-brand-hover-color: #fff;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    background-color: #252524;
}

.navbar-brand{
    color: var(--bs-light-body-color);
    font-family: 'ProcrastinatingPixie';
}

.navbar-nav {
    --bs-nav-link-hover-color: var(--bs-btn-color);
}

footer{width:100%;
    background-color: #252524;
    padding: 5em 0em 0em 1em;
    font-size: 0.8rem
}

.rfn{
    font-family: 'ProcrastinatingPixie';
}

.footer-container {
    height: 15em;    
}

footer a {
    text-decoration: none;
}

.footer-icon {
    height: 2em;
    padding-right: 1em;
    transition: transform .2s;
}

.footer-icon:hover {
    transform: scale(1.2);
}

@media (max-width: 767px){
    .row {
        margin-right: 0em;
        margin-left: 0em;
    }
}

.light-green-bg {
    background-color: var(--bs-bg-light-green);
    width: 100%;
    padding: 4em 0em;
}

.light-bg {
    background-color: var(--bs-light-body-color);
    width: 100%;
    padding: 4em 0em;
    color: var(--bs-bg-dark-green);
}

.divHiveImg {
    position:relative; 
}

.hiveRight {
    position:absolute; 
    right:0;
    z-index: 1;
}

.hiveLeft {
    position:absolute; 
    left:0;
    z-index: 1;
}

.divHiveImg img { 
    margin-top:-40%; 
    width:150px
}

@media (max-width: 767px){
    .divHiveImg {
        display: none; 
    }
}


/* =============================
    HOME
   ============================= */

.hero-home {
    background-image: url("../img/landing-home.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-blend-mode: overlay;
}

.hero-text {
    font-size: 1.87rem;
}

/* sm breackpoint */
@media (max-width: 575.98px) {
    .hero-text {
        font-size: 1rem;
    }
}

.w-section {
    background-image: url("../img/extended-hive.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
}

@media (max-width: 991px){
    .w-section {
        background-image: none;
    }

    .home-w-titles {
        font-size: 2em;
    }
}

.home-w-titles {
    font-size: 6em;
    font-family: 'ProcrastinatingPixie';
    transition: text-shadow 0.5s ease-in;
}
.home-w-titles:hover {
    text-shadow: 0 0 0.3em #F59927, 0 0 0.3em #F59927, 0 0 0.3em #F59927;
    transition: linear 2s ease-in;

}

.leaf-title {
    padding: 0px 10px 20px 0px;
}

.home-section-images{
    width: 90%;
    border-radius: 5px;
}

.home-section-icon-height {
    height: 7em;
    margin: 1.5em 0em;
}

.home-section-icon-width {
    margin: 1.5em 0em;
    width: 13em;
}

.drone-home-img {
    margin: 1.5em 0em;
    width: 15em;
}

img.extended-hive {
    width: 50%;
    z-index: -1;
}


/* =============================
    PRODOTTI
   ============================= */

.container-fluid {
    padding-right: 0em;
    padding-left: 0em;
}

.header-prodotti {
    display: flex;
    flex-direction: column;
}

.blockquote-footer {
    color: #f2eacba5;
}

.justify-content-space-between {
    display: flex;
    justify-content: space-between;
}

.contattaci {
    background-color: var(--bs-light-body-color);
}

.header-rfn {
    position: relative;
}


@media screen and (max-width:767px) {
    
    .header-rfn {
        display: flex;
        flex-direction: column;
    }

    .title-rfn01, .title-rfn02 {
        order:1;
    }

    .title-rfn02 {
        text-align: right;
    }

    .img-rfn {
        order: 2;
    }

    .rfn02-align {
        left: 0;
    }

    .drone-sm-png {
        position: absolute;
        width: 40vw;
        right: 0;
        top: 7rem;
    }

    .rfn01-specifiche {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .icon-contattaci {
        width: 8em;
    }

    .dark-text {
        text-align: center;
    }
}

@media screen and (min-width:768px) {

    .justify-content-end {
    display: flex;
    justify-content: end;
    }

    .img-background1 {
        background-image: url("../img/img-bg-rfn01.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .img-background2 {
        background-image: url("../img/img-bg-rfn02.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .drone-lg-png {
        position: absolute;
        width: 50vw;
        max-width: 700px;
        min-width: 600px;
    }

    .rfn02-align {
        right: 0;
    }

    .rfn01-intro, .rfn02-intro {
        height: 46em;
        display: flex;
    }

    .rfn01-specifiche {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    
    .wrap-contattaci {
        height: 733px;
        display: flex;
        justify-content: space-around;
    }
}

/* =============================
    BLOG
   ============================= */

.header-blog{ 
    display: flex; 
    justify-content: center; 
    flex-direction: row; 
    margin: auto; 
} 
 
.justify-content-evenly{ 
    display: flex; 
    justify-content: space-evenly; 
} 

.wrap-article{ 
    height: 573px;  
} 
 
.align-items-center{ 
    display: flex; 
    align-items: center; 
} 

.light{ 
    background-color: var(--bs-bg-light-green);  
} 

.dark{ 
    background-color: var(--bs-bg-light-dark); 
}


/****** css vecchio carosello *****/
/* .light-card{ 
    background-color: var(--bs-light-body-color) ;  
} 

.carousel-card{
    display: flex;

}

.img-card-article1 {
    background-image: url(../img-blog/articolocard1.jpg);
    background-size: cover;
    width: 280px;
    height: 236px;
}

.img-card-article2 {
    background-image: url(../img-blog/articolocard2.jpg);
    background-size: cover;
    width: 280px;
    height: 236px;
}

.img-card-article3 {
    background-image: url(../img-blog/articolocard3.jpg);
    background-size: cover;
    width: 280px;
    height: 236px;
}

.img-card-article4 {
    background-image: url(../img-blog/articolocard4.jpg);
    background-size: cover;
    width: 280px;
    height: 236px;
}

.img-card-article5 {
    background-image: url(../img-blog/articolocard5.jpg);
    background-size: cover;
    width: 280px;
    height: 236px;
}

.img-card-article6 {
    background-image: url(../img-blog/articolocard6.jpg);
    background-size: cover;
    width: 280px;
    height: 236px;
}
 
.card-title{ 
 color: var(--bs-bg-dark-green); 
 padding-top: 0.625rem; 
} 
.card-text{ 
    color: var(--bs-bg-light-green); 
} 
 
h4 { 
 
    font-family: 'Audiowide'; 
    font-size: 1.5rem; 
    text-transform: uppercase; 
 
} 
 
.img-fluid{ 
    padding-top: 1.5rem; 
    padding-left: 1rem; 
    padding-right: 1rem; 
} 
 
.margin{ 
    margin: auto; 
    padding-top: 1.875rem; 
    padding-bottom: 1.25rem; 
} 


.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

  
.cards-wrapper {
    display: flex;
    justify-content: center;
    
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 3;
    width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.carousel-inner {
    padding: 1em;
} */


/****** css nuovo carosello *****/

.card-text{ 
    color: var(--bs-bg-light-green); 
} 

.card-carousel {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: #F2EACB;
    padding: 20px;
    margin: 1rem;
}

.card-title {
    text-align: center;
}

.card-text {
    height: 155px;
}

.cta-card {
    text-align: center;
}
  
 
@media screen and (max-width: 767px) { 
    .wrap-article { 
        padding-top: 35px; 
        padding-bottom: 35px; 
    } 
 
    .article-order { 
        display: flex; 
    } 
 
    .title-article1{ 
        order:1; 
    } 
 
    .img-article1{ 
        order:2; 
    } 
 
    .text-article { 
        order:3; 
    }

    .card {
        margin-left:0;
        margin-right:0;
    }

    .card-text {
        height: 110px;
    }

    .card-carousel {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    .second-article {
        flex-direction: column-reverse;
    }

} 
 
@media screen and (min-width:768px) { 
    .wrap-article { 
        height: 573px; 
    }
    
}